
    /*#button1
    {
        border-color: blueviolet;
        background-color:cornsilk ;
        box-shadow: cyan;
        font-variant:small-caps;
    }*/
    body{
        background-color: khaki;
    }
    tr{
        border-color: azure;
        border-radius: 25px;
    }
    sub{
        font-weight: lighter;
    }
    #Name
    {
        width: 98%;
        display: inline;
        border-radius: 25px;
    }
    #Address
    {
        width: 98%;
        display: inline;
        border-radius: 25px;
    }
    #EMail
    {
        width: 98%;
        display: inline;
        border-radius: 25px;
    }
    #Password
    {
        width: 98%;
        display: inline;
        border-radius: 25px;
    }
    #Telephone
    {
        width: 98%;
        display: inline;
        border-radius: 25px;
    }
    #Course
    {
        width: 100%;
        display: inline;
        border-radius: 25px;
    }
    #Comment
    {
        width: 97%;
        display: inline;
        border-radius: 25px;
    }
    /*.button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }*/
     .data-table{
            background-color: transparent;
            border-radius: 25px;
            border:"1";
      }
      .form-table{
          background-color: aqua;
          border-style: inset;
          border-radius: 25px;
      }
      .background-selector{
          border-color: bisque;
      }
      h3{
          text-align: center;          
      }
      input[type="color"]
      {
          border-radius: 25px;
      }
      td{
          text-align: center;
      }
      .terms{
          text-align: left;
      }
      .term{
          text-align: right;
      }
      .button
      {
          background-color: #23c74c;
          border-radius: 25px;
          font-weight: bolder;
          font-size: 15px;          
      }
      .background-selector
      {
        border-style: inset;
        border-radius: 25px;
        background-color:khaki;
     }
    .tabledata
    {
        border-style: inset;
        border-radius: 25px;
        background-color:khaki;
    }
      