    .body_background {
        text-align: center;
        padding-top: 10rem;
        padding-bottom: 10rem;
        background-size: cover;
        background-image: linear-gradient(to bottom right, #00ffea, #00ccff);
    }

    sub{
        font-weight: lighter;
    }
    #serial
    {
        width: 98%;
        display: inline;
        border-radius: 25px;
        text-align: center;
    }
    #Name,#Address,#EMail,#Password,#Telephone,#Course,#Comment
    {
        width: 98%;
        display: inline;
        border-radius: 25px;
    }
     .data-table{
        justify-content: center;
        padding-left: auto;
        padding-right: auto;
        display: inline-table;
        background: linear-gradient(to bottom right, white  ,rgb(167, 130, 130));
        border-radius: 10px;
      }
      .background-selector{
          border-color: bisque;
      }
      h3{
          text-align: center;          
      }
      input[type="color"]
      {
          border-radius: 25px;
      }
      td{
          text-align: center;
      }
      .terms{
          text-align: left;
      }
      .term{
          text-align: right;
      }
      .button
      {
          background-color: #0199ffe8;
          border-radius: 25px;
          font-weight: bolder;
          font-size: 15px;          
      }
      .background-selector
      {
        border-style: inset;
        border-radius: 25px;
        background-color:khaki;
     }
    .tabledata
    {
        border-style: inset;
        border-radius: 25px;
        background-color:khaki;
    }
    .table-div{
        justify-content: center;
        padding-left: auto;
        padding-right: auto;
        display: inline-table;
        background: linear-gradient(to bottom right,white ,rgb(167, 130, 130));
        border-radius: 10px;        
    }
    .text-danger{
        font-variant: normal;
        font-weight: 600;
    }
    
      